---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Minhas redes sociais</h1>
  <section class="links-page">
    <a
      href="https://on.soundcloud.com/5VMKxLNwnRcTXskEXL"
      class="card soundcloud"
    >
      <img src="/soundcloud.svg" alt="Ícone do SoundCloud" />
      SoundCloud
    </a>

    <a
      href="https://youtube.com/@youngnisioo?si=NWgPvL1BfH_To2l1"
      class="card youtube"
    >
      <img src="/youtube.svg" alt="Ícone do YouTube" />
      YouTube
    </a>

    <a href="https://www.facebook.com/share/1EvzYJNKCY/" class="card facebook">
      <img src="/facebook.svg" alt="Ícone do Facebook" />
      Facebook
    </a>

    <a
      href="https://www.instagram.com/ani_sio_?utm_source=qr&igsh=OTV6NGc4ZTluZW1u"
      class="card instagram"
    >
      <img src="/instagram.svg" alt="Ícone do Instagram" />
      Instagram
    </a>

    <a href="https://wa.me/qr/BJ4AAYXZ2TYCB1" class="card whatsapp">
      <img src="/whatsapp.svg" alt="Ícone do WhatsApp" />
      Whatsapp
    </a>

    <a
      href="https://www.tiktok.com/@young_nisioo?_r=1&_t=ZS-943fKuu2vPl"
      class="card tiktok"
    >
      <img src="/tiktok.svg" alt="Ícone do TikTok" />
      TikTok
    </a>
  </section>
</Layout>

<style>
  h1 {
    margin-bottom: 2rem;
  }
  .links-page {
    a {
      margin-bottom: 1rem;
      display: grid;

      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: left;

      img {
        width: 20px;
        height: 20px;
        margin-right: 0.75rem;
      }
    }

    .soundcloud {
      background-color: #f8671e;
    }
    .youtube {
      background-color: #f12929;
    }
    .facebook {
      background-color: #3283ed;
    }
    .instagram {
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }
    .whatsapp {
      background-color: #25d366;
    }
    .tiktok {
      background-color: #010101;
    }

    .card:hover {
      filter: brightness(1.2);
      transform: scale(1.02);
    }
  }
</style>
