---
const pathname = new URL(Astro.request.url).pathname;
---

<nav>
  <a href="/" class={pathname === '/' ? 'active' : ''}>Início</a>
  <a href="/music" class={pathname.includes('/music') ? 'active' : ''}
    >Músicas</a
  >
  <a href="/socials" class={pathname.includes('/socials') ? 'active' : ''}
    >Redes Sociais</a
  >
</nav>

<style>
  nav {
    font-family: 'Amarna', sans-serif;
    background-color: var(--card-bg);
    padding: 1rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(1.25rem + 1vw);
  }

  a {
    color: var(--text-muted);
  }

  a:is(:hover, .active) {
    color: var(--primary-color);
  }
</style>
