---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import '../styles/global.css';

const pathname = new URL(Astro.request.url).pathname;

const { showHeader = true, title = 'Rapper Young Nísioo' } = Astro.props;
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    {showHeader && <Header />}
    <main class="container">
      <slot />
    </main>
  </body>
</html>
