---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import '../styles/global.css';

const pathname = new URL(Astro.request.url).pathname;
---

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rapper Young Nísioo</title>
    <ClientRouter />
  </head>
  <body>
    {!pathname.startsWith('/admin') && <Header />}
    <main class="container">
      <slot />
    </main>
  </body>
</html>
