---
import Layout from '@/layouts/Layout.astro';
import AddMusicModal from '@/components/AddMusicModal.astro';

import { Song } from '@/lib/models/Song';
import { connectDB } from '@/lib/mongodb';
import MusicCard from '@/components/MusicCard.astro';

await connectDB();
const songs = await Song.find().sort({ createdAt: -1 });
---

<Layout showHeader={false}>
  <h1>Minhas Músicas</h1>
  <button id="open-modal-btn" class="add-btn">Adicionar Música</button>
  <section>
    <article class="grid">
      {
        songs.map((song) => (
          <MusicCard
            title={song.title}
            fileKey={song.fileKey}
            createdAt={song.createdAt}
          />
        ))
      }
    </article>
  </section>
  <AddMusicModal />
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    const openBtn = document.getElementById('open-modal-btn');
    const modal = document.getElementById('music-modal') as HTMLDialogElement;
    openBtn?.addEventListener('click', () => {
      modal.showModal(); // O método showModal habilita o backdrop e o foco
    });
  });
</script>

<style>
  h1 {
    margin-bottom: 2rem;
  }
  .add-btn {
    display: block;
    height: 3rem;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    width: min(100%, 240px);
    margin-left: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1.5rem;
      padding: 2rem 0;
    }

    }
  }
</style>
